@tailwind base;
@tailwind components;
@tailwind utilities;

/* color variables */
:root {
  --basecolor: #0099cc;
  --darkbasecolor: #0084b0;
  --slate: #64748b;
}

/* Mobile <a> styling */
.mobLinks {
  position: relative;
  width: fit-content;
  transform-origin: left;
  color: var(--slate);
  transition-duration: 150ms;
}

.mobLinks:hover {
  color: var(--basecolor);
}

.mobLinks::before{
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 4px;
  background-color: var(--darkbasecolor);
  transition: all 0.5s;
}

.mobLinks:hover::before{
  width: 100%;
  left: 0;
}

#mouseIcon{
  animation: upDown 1s ease-in infinite;

}
@keyframes upDown {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(100%);
  }
}
/* swipper */
.swiper-scrollbar{
  --swiper-scrollbar-bottom: 0;
  --swiper-scrollbar-drag-bg-color: var(--basecolor);
  --swiper-scrollbar-size: 7px;
}
/* swiper cards */
.cardsUpper{
  position: absolute;
  height: 90%;
  top: 0%;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 50%);
}
.cardsUpper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: translateY(-20%);
}
.cardsLower{
  position: absolute;
  height: 100%;
  justify-content: end;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 60%, 0 45%);
  background: linear-gradient(to bottom, #ffffff, #adadad);
}
#cardsbuttons a{
  position: relative;
  background-color: var(--darkbasecolor);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  transition: all 0.5s;
}
#cardsbuttons a:hover{
  background-color: white;
  color: var(--darkbasecolor);
}
.swiper-button-next, .swiper-button-prev{
  top: 0 !important;
  background-color: var(--darkbasecolor) !important;
  border-radius: 8px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.swiper-button-prev{
  left: initial;
  right: 100px ;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 15px !important;
  color: white;
}
/* Calculator */
.glassmorphisum{
  @apply bg-darkbasecolor/20 backdrop-blur-xl border border-white/20 rounded-xl shadow-2xl;
}
.convertBtn{
  color: var(--darkbasecolor) !important;
  font-weight: 600 !important;
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 2px solid var(--darkbasecolor) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.convertBtn:hover{
  color: #ffffff !important;
  background-color: var(--darkbasecolor) !important;
}

/* Footer */
.footermain{
  padding: 0rem 1.5rem;
}
.footerContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1.5rem;
  /* flex flex-wrap justify-between items-center gap-8 py-8 px-6 */
}
.footerLinks{
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transform-origin: left;
  --tw-text-opacity: 1;
  color: white;
  transition-duration: 150ms;
}

.footerLinks:hover {
  --tw-text-opacity: 1;
}

.footerLinks::before{
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 4px;
  background-color: white;
  transition: all 0.5s;
}

.footerLinks:hover::before{
  width: 100%;
  left: 0;
}
.footerlogo{
  max-width: 28rem;
}
.footerlogo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: invert(100%) brightness(1000%);
}